# Flask后端服务器依赖
flask==3.0.0
flask-cors==4.0.0

# Submodule依赖
opencv-python
PyMuPDF
requests
html2text
pdf2image
pillow
pyvis
openai
python-pptx
PyPDF2
networkx==3.1
zhipuai==2.1.5.20230904
chardet
matplotlib
websocket-client

# Additional dependencies for treekg
faiss_cpu==1.11.0
neo4j==5.23.0
numpy==1.26.4
openai==1.68.2
pandas==2.2.2
scikit_learn==1.5.1
scipy==1.12.0
transformers==4.42.4

# python == 3.11.7
openpyxl